@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

body{
  font-family: 'Baskervville', serif;
  font-size: .9em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3em;
  margin: 0;
}

a {
  color: #333333;
  text-decoration: none;
  font-weight: 400;
}

.Hero{
  background: url('../images/Grid.svg');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;

}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
  
}

.Hero h1{
  margin: 0;
  color: black;
  font-weight: 100;
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.02, 0.82, 0.165, 1)
}

.Hero p{
  color: rgba(255, 255, 255, .0.8);
  font-size: 30px;
  line-height: 1.5em;
}

.Hero a {
  font-size: 17px;
  color: white;
  text-transform: rgba(0,0,0, 0.7);
  padding: 9px 20px;
}

@keyframes HeroAnimation{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero svg{
  postion: absolute;
  bottom:0;
  left:0;
}